.container {
  border: 1px solid white;
  width: 1000px;
  height: 600px;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.container:hover {
  cursor: pointer;
}

.block1 {
  position: absolute;
  left: 0;
  width: 60%;
  height: 600px;
  clip-path: polygon(0 0, 73% 0%, 89% 100%, 0% 100%);
  background-image: url("../../assets/images/mainpic1.png");
  background-size: 950px 600px;
  background-repeat: no-repeat;
  background-position: -10px 0;
  background-color: rgb(110, 110, 110);
  background-blend-mode: multiply;
  z-index: 2;
}

.block1:hover {
  background-color: white;
  clip-path: polygon(0 0, 84% 0%, 100% 100%, 0% 100%);
}

.block2:hover {
  background-color: white;
}

.block2 {
  position: absolute;
  right: 0;
  width: 60%;
  height: 600px;
  background-position: -190px -60px;
  background-color: rgb(110, 110, 110);
  background-blend-mode: multiply;
  background-image: url("../../assets/images/mainpic2.jpg");
}
